@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.hero-section {
    background-image: url(images/developer.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-container {
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;
}

.lg-heading {
    font-size: 72px;
    font-weight: 400;
}

.black-box {
    background-color: #000;
    padding: 20px;
}

.black-box h2 {
    color: white;
    font-size: 72px;
    font-weight: 300;
    text-align: center;
}

.black-box h2 span {
    font-weight: 400;
    font-size: 96px;
}

.work {
    margin: 20px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 1100px;
    margin: 50px auto;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card {
    max-width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-bottom: 10px;
}

.bottom-section {
    display: flex;
}

.contact,
.about {
    width: 100%;
    min-height: 300px;
    padding: 32px;
    color: white;
}

.contact p,
.about p {
    margin-bottom: 20px;
}

.contact h2,
.about h2 {
    font-size: 52px;
    font-weight: 300;
}

.contact {
    background-color: #515603;
}

.about {
    background-color: #722300;
}

footer {
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: #000;
    padding: 20px;
}

@media (max-width: 786px) {
    .hero-section {
        min-height: 50vh;
    }

    .text_container {
        padding: 10px 0;
        text-align: center;
    }

    .lg-heading {
        font-size: 36px;
    }

    .black_box h2 {
        font-size: 24px;
    }

    .black_box h2 span {
        font-weight: 400;
        font-size: 32px;
    }

    .bottom-section {
        flex-direction: column;
    }

    h1 {
        font-size: 32px;
    }

    .about h2,
    .contact h2 {
        font-size: 32px;
    }
}