@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

button {
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}

button:hover {
    opacity: 0.8
}

/* Navigation */
nav {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bar-icon {
    font-size: 32px;
}

/* Hero section */
.hero {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag {
    background-color: #149f39;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}

.hero-content h1 {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}

.explore-btn {
    background: #ffc066;
    align-self: flex-start;
}

/* Features section */
.features {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.features .feature {
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;

}

.feature:hover {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}

.feature img {
    width: 72px;
    height: 72px;
}

.divider {
    border: 1px solid #ccc;
    margin: 20px 0;
}

/* Menu section */
.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
}

.menu .tag {
    align-self: center;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "item1 item1 item2 item3" 
    "item1 item1 item2 item7"
    "item4 item5 item6 item7"
    ;
}

.grid-item-img {
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
}

.grid-item-img:hover {
    transform: scale(1.05);
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

/* Footer Section */
footer {
    background-color: #fff0db;
}

.footer-container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.link-lists h3, .news-letter h3{
    margin-bottom: 10px;
    color: gray;
}

.link-lists ul {
    list-style-type: none;
}
.link-lists ul li{
    font-size: 16px;
    margin-bottom: 5px;
}

.news-letter input {
    padding: 5px 40px;
    margin-bottom: 10px;
}

.icon-container {
    display: flex;
    gap: 15px;
    font-size: 32px;
}

@media (max-width: 786px) {
    .hero {
        flex-direction: column;
    }

    .hero-image {
        display: flex;
        justify-content: center;
    }

    .hero-image img {
        width: 80%;
    }

    .hero-content {
        gap: 10px;
        padding: 10px;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .features {
        flex-direction: column;
    }

    .feature {
        flex-direction: column;
    }
    .grid {
        padding: 10px;
    }
    .grid-item-img {
        border-radius: 0px;
    }
    .footer-container {
        flex-direction: column;
    }
}