@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;

}

body {
    display: flex;
}

/*  aside navigation*/
aside {
    border: 1px solid black;
}

aside h1 {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin: 20px 20px 0 20px;

}

aside ul {
    margin-top: 20px;
}

aside ul li:first-child {
    border-top: 1px solid black;
}

aside ul li {
    list-style: none;
    border-bottom: 1px solid black;
}

aside ul li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    display: inline-block;
}

/* main section */
main {
    margin: 40px;
    padding-right: 50px;
}

section h2 {
    font-weight: 600;
    font-size: 24px;
    margin: 60px 0 20px;
}

#introduction h2 {
    margin-top: 0;
}

section p {
    margin-bottom: 30px;
}

section ul {
    padding-left: 40px;
}

section ul li {
    margin-bottom: 20px;

}

code {
    display: block;
    white-space: pre-line;
    line-height: 2;
    background: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}