@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*==================== Root ====================*/
:root {
    --background-color: #F5F7FA;
    --primary-color: rgba(79, 70, 229, 0.3);
    --secondary-color: rgba(79, 70, 229, 0.8);
    --font-black: #222222;
    --font-gray: #666666;
    --margin-tb: 2rem auto;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
a {
    font-family: "Inter", sans-serif;
    color: var(--font-black);
    text-decoration: none;
}

body {
    background: var(--background-color);
    font-size: 16px;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

button {
    display: inline-block;
    background: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

button:hover {
    box-shadow: 2px 4px 5px 5px rgba(79, 70, 229, 0.1);
}

/*==================== Reusable classes ====================*/
.container {
    width: 90%;
    margin: auto;
    padding-block: 1rem;
}

/* Header */
header {
    background: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: 800;
}

.nav-links,
.social-links {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 700;
    gap: 1rem;
}

.nav-links a,
.social-links a {
    position: relative;
    transition: color 0.3s;
}

.nav-links a::after,
.social-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: var(--secondary-color);
    transition: width 0.3s ease;
}

.nav-links a:hover,
.social-links a:hover {
    color: var(--secondary-color);
}

.nav-links a:hover::after {
    width: 80%;
}

.nav-links .social-link {
    display: none;
}

/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    text-align: center;
    gap: 2rem;
    margin: var(--margin-tb);
}

h1 {
    font-size: 2.5rem;
}

.hero-text-content p {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--font-gray);
}

.hero-image-container img {
    border-radius: 2rem;
}

/* Blogs Section */
.blogs-section {
    margin: var(--margin-tb);
}

.blog-cards-contianer {
    display: grid;
    gap: 2rem;
    padding: 1.5rem;
}

.blog-card,
.news-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    background-color: var(--primary-color);
}

.blog-card .blog-content,
.blog-button,
.news-card .news-content,
.news-button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog-content,
.news-content {
    padding-inline: 1.8rem;
}

h3 {
    text-transform: capitalize;
}

.date {
    color: var(--font-gray);
}

.blog-card button,
.news-card button {
    margin-bottom: 2rem;
    align-self: flex-start;
}

/* News Section */
.news-section {
    display: grid;
    margin: var(--margin-tb);
}

.news-card {
    background: var(--background-color);
    border-radius: initial;
}

.see-more-btn {
    justify-self: flex-end;
    margin-block: var(--margin-tb);
}

/* Footer */
footer {
    background: var(--primary-color);
    text-align: center;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.social-links {
    flex-direction: initial;
}

/*==================== BLOG PAGE ====================*/
.blog-article h2, .blog-article h3 {
    font-size: 1.5rem;
    margin: var(--margin-tb);
}
.blog-article p {
    line-height: 1.2;
}

.blog-heading {
    margin: var(--margin-tb);
}
.blog-heading p {
    margin-top: 0.8rem;
}
.blog-heading span{
    color: var(--font-gray);
    margin-left: 50px;
}

/*==================== Responsive media queries ====================*/
/* Medium Screens */
@media screen and (min-width: 520px) {}

/* Large Screens */
@media screen and (min-width: 768px) {

    /* Header */
    .nav-links .social-link {
        display: initial;
    }

    .nav-links,
    .social-links {
        flex-direction: initial;
    }


    /* Blogs Section */
    .blog-cards-contianer {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-card:nth-of-type(1) {
        grid-column: span 2;
        flex-direction: row-reverse;
        align-items: center;
        border-radius: 2rem;
        background: var(--background-color);
        border: 1px solid var(--primary-color);
    }

    .blog-card:nth-of-type(1)>.blog-content,
    .news-card>.news-content {
        padding: 1rem;
        width: 100%;
    }

    .blog-card:nth-of-type(1) .blog-image-container {
        padding-right: 1rem;
    }

    .blog-card:nth-of-type(1) .blog-image-container img,
    .news-card .news-image-container img {
        border-radius: 16px;
    }

    /* News Section */
    .news-card {
        flex-direction: row;
        align-items: center;
        border-radius: 2rem;
        border: 1px solid var(--primary-color);
        padding: 1rem;
    }

    /* footer */

    footer .container {
        flex-direction: row-reverse;
    }

    footer {
        text-align: initial;
    }

    .social-links {
        flex-direction: initial;
    }

}

/* Extra Large Screens */
@media screen and (min-width: 1024px) {

    /* Hero Section */
    .hero-section {
        flex-direction: initial;
    }
    .hero-section .hero-text-content{
        width: 80%;
    }

     /* Blogs Section */
    .blog-cards-contianer {
        grid-template-columns: repeat(3, 1fr);
    }

    .blog-card:nth-of-type(1) {
        grid-column: span 3;
    }
}

/* For 2K resolutions */
@media screen and (min-width: 2048px) {
    body {
        zoom: 2;
    }
}