@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Inter", sans-serif;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: 40px auto;
}

.container-content-flex {
    display: flex;
    place-items: center;
    gap: 16px;
}

.primary-btn {
    background-color: #4A5568;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.primary-btn:hover {
    transform: scale(1.2);
}

/* Top navigation */
header {
    width: 90%;
    margin: 20px auto;
}

nav.container-content-flex {
    justify-content: space-between;
}

/* logo */
.logo {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
}

/* navigation links at top-right */
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #4A5568;
    text-decoration: none;
}

/* Hero Section */
.hero-section {
    margin: 20px auto;
    width: 90%;
    gap: 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-weight: 700;
    font-size: 60px;
}

.hero-content p {
    font-size: 24px;
    color: #4A5568;
}

.hero-img {
    width: 60%;
}

.hero-img img {
    width: 100%;
    border-radius: 30px;
}

/* Main Section */
/* Latest blog */
.latest-content-container {
    gap: 40px;
}

.latest-blog {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.latest-blog h5 {
    font-weight: 700;
    font-size: 30px;
}

.latest-blog p {
    font-size: 14px;
    color: #4A5568;
    text-overflow: ellipsis;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-blog .img-container {
    width: 40%;
}

/* Blogs Card */
.blog-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blog-card {
    flex-direction: column;
    align-items: flex-start;
}

.blog-card .img-container {
    width: 100%;
}

.blog-card .img-container img {
    width: 100%;
}

.text-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 0 10px;
}

h6 {
    font-weight: 700;
    font-size: 20px;
    color: #2D3748;
}

h6+p {
    color: #718096;
}

/* another article */
article {
    background-color: #F7FAFC;
}

article h2 {
    font-weight: 700;
    font-size: 40px;
}

article p {
    color: #718096;
}

article .article-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

article .img-container {
    width: 100%;
}

article .img-container img {
    width: 100%;
}

.see-more-btn {
    display: flex;
    justify-content: flex-end;
}

/* footer */
footer {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.socials ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.socials ul li {
    list-style: none;
}

.socials ul li a {
    text-decoration: none;
    color: black;
}

/* Blog Page */
.blog-article h2, .blog-article h3 {
    font-size: 20px;
    margin: 20px 0;
}
.blog-article p {
    margin-bottom: 20px;
    line-height: 1.2;
}

.blog-heading {
    margin-bottom: 40px;
}
.blog-heading p {
    margin-top: 15px;
}
.blog-heading span{
    color: #4A5568;
    margin-left: 50px;
}
/* ===== Medium devices ===== */
@media (max-width: 768px) {

    /* Hero Section */
    h1 {
        font-size: 50px;
    }

    .hero-content p {
        font-size: 22px;
    }

    /* Main Section */
    /* Latest blog */
    .latest-content-container .img-container {
        width: 100%;
    }

    .latest-content-container .img-container img {
        width: 100%;
    }

    /* Blogs Card */
    .blog-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ===== Small devices (tablets) ===== */
@media (max-width: 576px) {

    /* Hero Section */
    .hero-section {
    flex-direction: column;
}
    h1 {
        font-size: 35px;
    }

    .hero-content p {
        font-size: 20px;
    }

    .hero-img {
        width: 150%;
    }

    /* Main Section */
    /* Latest blog */
    .latest-content-container {
        gap: 10px;
    }

    .latest-blog {
        gap: 10px;
    }

    .latest-blog h5 {
        font-size: 20px;
    }

    .card-bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .latest-blog+.img-container {
        display: none;
    }

    /* Blogs Card */
    .blog-cards-container {
        grid-template-columns: 1fr;
    }

    /* another article */

    article h2 {
        font-size: 20px;
    }

    article .img-container {
        display: none;
    }
    footer p {
        font-size: 14px;
    }
}