*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    max-width: 900px;
    margin-top: 0;
    padding-top: 0;
}

.apply-box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.title-small {
    font-size: 20px;
}

.form-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-area: 20px;
    gap: 15px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    margin-top: 8px;
    padding: 6px 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus,
select:focus,
textarea:focus {
    outline-color: red;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    background-color: red;
    border: 1px transparent solid;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}

button:hover {
    background-color: #ccc;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.textarea-control {
    grid-column: 1 / span 2;
}

.textarea-control textarea {
    width: 100%;
}

/*==================== Responsive media queries ====================*/
@media (max-width: 768px) {
}

@media (max-width: 460px) {
    .container {
        padding: 1rem;
    }
    .textarea-control {
        grid-column: 1 / span 1;
    }
}

/* For 2K resolutions */
@media screen and (min-width: 2048px) {
    body {
        zoom: 2;
    }
}