@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #0089b7;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: orange;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,
html {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}

body {
    font-size: 1.4rem;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

/* Navigation Bar */
header {
    background-color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav li {
    font-size: 1.8rem;
    border-bottom: 0.4rem solid transparent;
    transition: 0.3s ease-in-out;
}

nav li:hover {
    border-bottom: 0.4rem solid var(--secondary-color);
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

/* Hero Section */
#hero {
    background-color: var(--dark-color);
    padding: 4rem 0;
    border-bottom: 4px solid var(--primary-color);
}

#hero .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-content {
    display: grid;
    place-items: center;
}

#hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hi-text {
    font-size: 6rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.name-text {
    font-size: 5rem;
}

#hero h2 {
    font-size: 4rem;
    font-weight: bold;
    /* animation effect */
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    /* Adjust as needed */
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

/* Projects Display */
#projects {
    background-color: var(--darker-color);
}

#projects h3 {
    font-size: 6rem;
    text-align: center;
    padding: 2rem 0;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;

}

.grid-item {
    display: grid;
    place-items: center;
}

.card {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    transition: 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.05);
    opacity: 0.8;
}

.card:hover .card-content {
    background: white;
    color: var(--dark-color);
    transform: translateY(0px);
}

.card-content {
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.3s ease-in-out;
    text-align: center;
    transform: translateY(100px);
}

/* Contact Section */
#contact {
    background-color: var(--darker-color);
}

#contact h5 {
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
}

#contact .container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}

.top-contact,
.bottom-contact {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.contact-way {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact-way i {
    font-size: 3rem;
}

.contact-way p {
    font-size: 2rem;
    font-weight: bold;
}

/* footer */
footer {
    background: var(--darker-color);
    padding: 2rem;
    color: white;
    font-size: 1.6rem;
    text-align: center;
}

/* Responsive design */

@media (max-width: 786px) {
    html {
        font-size: 40%;
    }

    #contact .container {
        height: 70vh;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 32%;
    }

    #hero .container {
        flex-direction: column;
    }

    .hero-image {
        display: grid;
        place-items: center;
    }

    #contact .container {
        height: 50vh;
    }
}